<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServiceStatus" value="On"/>
    <add key="ScheduledRunTime" value="14:09:00" />
    <!--預計排程開始要設定比目前時間晚-->
    <add key="TimeBetweenEachRun" value="00:01:00" />
    <add key="ProcessLogFilePath" value="D:\FileNet\LeoIWSKL\WebService_DataSync\Log\%currentMonth%\Process" />
    <add key="ProcessLogReservedDays" value="7" />
    <add key="ProcessXMLFilePath" value="D:\FileNet\LeoIWSKL\WebService_DataSync\Log\%currentMonth%\XML" />
    <add key="ProcessXMLReservedDays" value="1" />
    <add key="SignedPdfFilesFilePath" value="D:\FileNet\LeoIWSKL\WebService_Pad\ImageFile\Signed" />
    <add key="SignedPdfFilesReservedDays" value="14" />
    <add key="WSUPLoadFDataFilePath" value="D:\FileNet\LeoIWSKL\webservice_fileupload\WSUPLoadF\Data" />
    <add key="WSUPLoadFDataReservedDays" value="30" />
    <add key="WSUploadFileLogFilePath" value="D:\FileNet\LeoIWSKL\webservice_fileupload\WSUPLoadF\log" />
    <add key="WSUploadFileLogReservedDays" value="7" />
    <add key="ZipFileBackupFilePath" value="D:\FileNet\LeoIWSKL\WebService_DataSync\Log\%currentMonth%\ZipFileBackup" />
    <add key="ZipFileBackupReservedDays" value="20" />
  </appSettings>
</configuration>
